.rotate {
    /* Something you can count on */
    height: 120px;
    white-space: nowrap;
    border:0px;
}

.rotate > div {
    -webkit-transform: rotate(-90deg) translate(-40px);
    -moz-transform: rotate(-90deg) translate(-40px);
    -ms-transform: rotate(-90deg) translate(-40px);
    -o-transform: rotate(-90deg) translate(-40px);
    -ms-filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    width:30px;
}
.rotate > div > span {
    padding: 5px 10px;
}

.same {
    background-color: #555555;
    border-color: #d6e9c6;
}

.incertain {
    background-color: blue;
    border-color: #080808;
}

.danger {
    background-color: red;
}

.warning {
    background-color: #ffff00;
}

.safe {
   background-color: green;
}

.center {
    text-align: center;
}

.click {
    cursor: pointer;
    background-image: url("../img/info.png");
    background-repeat: no-repeat;
    background-position: center;
}
td {
    height: 40px;
    width: 40px;
}

th {
    background-color: #ffffff;
}

#legende {
    width: 220px;
    position: fixed;
}

.footer {
    font-size: x-small;
}

.panel-body dd{
    font-size: small;
}

.header {
    background: url("../img/logoCSSSNL.png") no-repeat;
    width:768px;
    height:100px;
    margin-top: 20px;
}

.header-text {
    margin-left:350px;
    padding-top: 20px;
}